.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(225, 225, 255, 0.5), rgba(225, 225, 255, 0.5)),  
    url("https://images.unsplash.com/photo-1602615576820-ea14cf3e476a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
}

.loginForm {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 25px;
    padding: 50px;
    gap: 10px;
    border: solid white 1px;
    box-shadow: 2px 2px 20px white;
    /* background-color: rgba(214, 183, 214, 0.2); */
}

.loginForm label {
    margin: 10px 0;
}

.loginInput {
    padding: 15px;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 15px grey;
    border-radius: 5px;
}

.loginInput:focus, .loginInput:hover {
    outline: none;
    scale: 1.05;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 15px grey;
}

.loginButton:hover {
    background-color: rgb(243, 107, 107);
    scale: 1.05;
}

.loginRegisterButton {
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.loginRegisterButton:hover {
    background-color: rgb(2, 114, 114);
    scale: 1.09;
}

@media only screen and (max-width: 800px) {
  .loginRegisterButton {
    top: 200px;
  }
}