.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(225, 225, 255, 0.5), rgba(225, 225, 255, 0.5)),  
    url("https://images.unsplash.com/photo-1601168735800-62d5fefc81d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
}

.register p {
    margin-top: 10px;
}

.registerForm {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 25px;
    padding: 50px;
    gap: 10px;
    border: solid white 1px;
    box-shadow: 2px 2px 20px white;
}

.registerForm label {
    margin: 10px 0;
}

.registerInput {
    padding: 15px;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 15px grey;
    border-radius: 5px;
}

.registerInput:focus, .registerInput:hover {
    outline: none;
    scale: 1.05;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 15px grey;
}

.registerButton:hover {
    background-color: rgb(2, 114, 114);
    scale: 1.05;
}

.registerLoginButton {
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.registerLoginButton:hover {
    background-color: rgb(243, 107, 107);
    scale: 1.09;
}

@media only screen and (max-width: 800px) {
  .registerLoginButton {
    top: 200px;
  }
}